.main-header
  font-size: 2em * 1.5
  color: lighten(#36393f, 20)
  // color darken(color, percent)
  padding-left: 0.5em
  padding-top: 0.5em

  .header
    text-transform: uppercase
    .em
      color orange
  .sl
    font-size .75em
    color lighten(#36393f, 40)