html
body
  font-size $root-font-size
  line-height normal

html
  box-sizing border-box

body
  font-family sans-serif;
  background #34383B

a
a:hover
a:focus
  color #fff

a:hover
input[type=submit]:hover
  opacity .5

a:active
  color #d5d5d5

*
*::before
*:before
*::after
*:after
  box-sizing inherit
  margin 0
  padding 0
