clearfix()
  *zoom 1
  &:before
  &:after
    content " "
    display table
  &:after
    clear both

hs()
  background rgba(255, 127, 0, 0.3333)
  border-radius 3px

bdsep(color)
  border-bottom 1px solid
  border-color color

brsep(color)
  border-right 1px solid
  border-color color

font-size-em(size, base = $root-font-size)
  font-size (size / base) em

reset()
  margin 0
  padding 0

screen-xs()
  push($media-xs-max, block)

screen-sm()
  push($media-sm-max, block)

screen-md()
  push($media-md-max, block)

screen-lg()
  push($media-lg-max, block)
