doctype html
html
  head(lang="ru")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //- meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title page title | projectName
    block css
    link(rel="stylesheet", href="css/main.css")
  body
    block header
    main#content
      block content
    block footer
