extends /layouts/page.jade
include /blocks/title.jade

block title
  +title('main')

block content
  header.main-header
    h1.header Welcome to #[span.em #{projectName}]!
    p.sl Now you can start explore #[strong Jade] and #[strong Stylus].