+b(header)
  font-size: 2em * 1.5
  color: #A0A4A8
  padding-left: 0.5em
  padding-top: 0.5em
  +e(title)
    text-transform: uppercase
  +e(text)
    +m(vivid)
      color orange
  +e(subtitle)
    font-size .75em
    color #A0A4A8