mixin header
  header.b_header&attributes(attributes)
    .e_title
      | Welcome to #[span.e_text.m_vivid= projectName]!
    .e_subtitle
      | Now you can start explore #[strong Jade] and #[strong Stylus].